<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Onix</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1280">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31485994-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-31485994-5');
    </script>
</head>
<body>

<header class="header">
  <div class="container">
      <a href="/" class="header__logo"><img src="img/logo.png" alt=""></a>
      <span>ул. Николая Островского, 44а</span>
      <a href="tel:+73422999888">+7 (342) <strong>2 - 999 - 888</strong></a>
      <a href="javascript:void(0)" class="btn">Купить квартиру</a>
  </div>
</header>

<section class="menu">
  <div class="container">
      <nav>
          <a href="javascript:void(0)" class="active">О застройщике</a>
          <a href="javascript:void(0)">Стандарты качества</a>
          <a href="javascript:void(0)">Партнеры</a>
          <a href="javascript:void(0)">Пресс центр</a>
          <a href="javascript:void(0)">ГК Оникс</a>
          <a href="javascript:void(0)">Контакты</a>
      </nav>
  </div>
</section>